.feedback {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999;
}

.statistics {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #999;
}
